.sideBar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(251, 251, 255);
  position: fixed;
  top: 50px;
}
.sidBarWrapper {
  padding: 10px 20px;
  color: #555;
}
.sideBarMenu {
  margin-bottom: 10px;
}
.sidBarTitle {
  font-size: 13px;
  color: #bbbaba;
}
.sideBarList {
  list-style: none;
  padding: 5px;
}
.sideBarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.sideBarListItem.active,
.sideBarListItem:hover {
  background-color: rgb(240, 240, 255);
}
.sidBarIcon {
  margin-right: 5px;
  font-size: 20px;
}
